.container {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.row {
  display: flex;
  gap: 1px;
}

.square {
  background-color: lightgray;
  height: 40px;
  width: 40px;
  transition-property: background-color;
  transition-duration: 3s;
  transition-delay: 0.5s;
}

.square:hover {
  background-color: black;
  transition: background-color 0s;
}
