.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  gap: 1px;
}

.row {
  flex: auto;
  display: flex;
  gap: 1px;
}

.square {
  flex: auto;
  background-color: lightgray;
  transition-property: background-color;
  transition-duration: 3s;
  transition-delay: 0.5s;
}

.square:hover {
  background-color: black;
  transition: background-color 0s;
}
